<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp29.MainWindowModelSet" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfApp29.MainWindowModelSet>
            <setting name="SaveCommand" serializeAs="String">
                <value>Save</value>
            </setting>
            <setting name="LoadCommand" serializeAs="String">
                <value>Load</value>
            </setting>
        </WpfApp29.MainWindowModelSet>
    </userSettings>
</configuration>