<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp28.MainWindowModelSet" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfApp28.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfApp28.MainWindowModelSet>
            <setting name="hobbies" serializeAs="String">
                <value>["编程", "摄影"]</value>
            </setting>
            <setting name="select" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ThemeColor" serializeAs="String">
                <value>FF0000</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Tom</value>
            </setting>
            <setting name="aa" serializeAs="String">
                <value>False</value>
            </setting>
        </WpfApp28.MainWindowModelSet>
        <WpfApp28.Settings1>
            <setting name="hobbies" serializeAs="String">
                <value>["编程", "摄影"]</value>
            </setting>
            <setting name="select" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ThemeColor" serializeAs="String">
                <value>FF0000</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Tom</value>
            </setting>
        </WpfApp28.Settings1>
    </userSettings>
</configuration>